# Example
EXAMPLE_SERVICE_URL=http://example_service:51888

# Uvicorn
UVICORN_PORT=8000

# App
APP_LOGGING_LEVEL=DEBUG

# Jwt
JWT_SECRET=REPLACE_THIS_WITH_YOUR_OWN_SECRET_JWT_SECRET_VALUE

# Password
PASSWORD_PEPPER=REPLACE_THIS_WITH_YOUR_OWN_SECRET_PEPPER_VALUE

# Postgres
POSTGRES_DB=clean-example
POSTGRES_HOST=db_pg
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
